@page "/dashboard"

<ul class="spot-list">
    <li>
        <header />
        <strong></strong>
        <span></span>
    </li>
</ul>

<NavLink href="/new">
    <button class="btn">Cadastrar novo spot</button>
</NavLink>