@page "/"

<p>
    Ofereça <strong>spots</strong> para programadores e encontre <strong>talentos</strong> para sua empresa.
</p>

<form action="post">
    <label htmlFor="email">E-MAIL *</label>

    <input type="email"
           id="email"
           placeholder="Seu melhor e-mail"
    />

    <button class="btn" type="submit">Entrar</button>
</form>

@{ 

}