@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@page "/"

<p>
    Ofereça <strong>spots</strong> para programadores e encontre <strong>talentos</strong> para sua empresa.
</p>

<form @onsubmit="OnSubmitAsync">
    <label htmlFor="email">E-MAIL *</label>

    <input type="email"
           id="email"
           placeholder="Seu melhor e-mail"
           @bind="User.Email" @bind:event="oninput" />

    <button class="btn" type="submit">Entrar</button>
</form>

@code{
    private User User { get; set; } = new User();
    private string UserGuid { get; set; }

    private async Task OnSubmitAsync()
    {
        using (var client = new HttpClient())
        {
            client.BaseAddress = new Uri("https://localhost:5001");

            var content = new StringContent(JsonConvert.SerializeObject(User), Encoding.UTF8, "application/json");

            var response = await client.PostAsync("/api/users", content);

            if (response.StatusCode == HttpStatusCode.OK || response.StatusCode == HttpStatusCode.Created)
            {
                UserGuid = JsonConvert.DeserializeObject<User>(await response.Content.ReadAsStringAsync()).Guid.ToString();

                await LocalStorage.SetItemAsync("user", UserGuid);
                NavigationManager.NavigateTo("/dashboard");
            }
        }
    }
}